/*.container > div {
    border: 2px solid turquoise;
}
*/
.container {
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 250px;
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.header > div {
   /* border: 2px solid cornflowerblue; */

}

.header-top {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 2fr;
    
}

.header-top > li {
    margin: auto;
    width: 90%;
    padding-bottom: 15px;
    margin-left: 35px;
}



.bar {
    width: 90%;
    height: 35px;
    font-size: 20px;
    border-radius: 30px;
    padding-left: 15px;
    box-shadow: 5px 5px maroon;
}

.bar:hover {
    box-shadow: 3px 3px maroon;
}

.search-icon {
    width: 30px;
    height: auto;
    position: relative;
    top: 8px;
    padding-right: 15px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
}

.header-bottom > div {
    position: relative;
    left: 60px;
    bottom: 15px;
    max-width: 80%;
}

.header-bottom > button {
    width: 100px;
    height: 50px;
    margin: auto;
    margin-right: 75px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px maroon;
    font-size: 17px;
}

.header-bottom > button:hover{
    box-shadow: 2px 2px maroon;
}

.greeting {
    font-size: 20px;
    margin-bottom: -15px;
}

.name {
    font-size: 30px;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 3fr;
    row-gap: 20px;
    box-shadow: 10px 0px 10px -5px grey;
}

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url("background.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.projects > p {
    font-size: 40px;
    position: relative;
    left: 30px;
    top: 40px;
    margin-top: 0px;
    background-color: white;
    width: max-content;
    border: 2px solid black;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 3px 3px maroon;
    border-radius: 6px;
}

.article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px;
}



.card {
    background-color: white;
    border: 2px solid black;
    box-shadow: 3px 3px maroon;
    border-radius: 6px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    padding: 30px;
}

.card-title {
    font-size: 30px;
    margin: 0%;
}

.card-info {
    font-size: 20px;
}
.side-main {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 5fr;
    gap: 30px;
    padding: 30px;
}

.side-card {
    background-color: white;
    border: 2px solid black;
    box-shadow: 3px 3px maroon;
    border-radius: 6px;
}

.side-main > p {
    font-size: 40px;
    margin-top: -30px;
    border: 2px solid black;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 3px 3px maroon;
    border-radius: 6px;
    background-color: white;
    width: fit-content;
    position: relative;
    top: 40px;
}

/* div.sidebar > div {
    border: 3px solid #D12525;
}
*/

/* .credit > p {
    text-align: center;
    position: relative;
    top: 60%;
}
*/

.credit {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    
}

.credit > p {
    margin-top: -5px;
}

.top {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 20px;
}

.top > p {
    margin: auto;
    padding-right: 15px;
    font-size: 50px;
}

li {
    list-style: none;
    font-size: 30px;
    padding: 5px;
}

img {
    width: 100px;
    height: auto;
}

.icon {
    width: 30px;
    height: auto;
    padding-right: 20px;
    position: relative;
    top: 5px;
}

.notification {
    width: 40px;
    height: auto;
    margin: auto;
    position: relative;
    left: 170px;
}

.propic {
    width: 96px;
    height: auto;
    margin: auto;
    position: relative;
    left: 130px;
}

.header-top > p {
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    padding-left: 50px;
}